body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.esconderSeccion {
  display: none;
}

.imagenNoticia {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 25px;
}

.spacing {
  margin-left: 20px;
}

.autor {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.area {
  margin-bottom: 0;
}

.tarjetaNoticia {
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 21%);
  border-radius: 3px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.destacar {
  background: rgb(233, 236, 239);
}

.tarjetaNoticia img {
  width: 150px;
  margin-right: 20px;
}

.tarjetaNoticia .descripcion {
  display: flex;
}

.tarjetaNoticia .opciones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.seccionEdicion {
  display: none !important;
}

.containerFtrSocial {
  padding-top: 1px;
}

.spaceBetweenButtons {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.inputImagen {
  display: none;
}

.prevImagenes {
  margin: 0;
  display: flex;
}

.botonEliminar {
  width: 200px;
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-right: 10px;
}

.botonEliminar img {
  width: 200px;
  margin-right: 10px;
  margin: 0px;
}

.botonEliminar button {
  position: absolute;
  border: 0px;
  background-color: red;
  color: white;
  cursor: pointer;
}

.contenedorFoto {
  width: 200px;
}

.imagenBanner{
  width: 100%;
  height: 450px;
}

.imagenBannerDetail{
  width: 100%;
  height: 550px;
}

.imagenBannerCentro{
  height: 454px;
  width: 100%;
}
.imagenBannerDerecha{
  height: 225px;
  width: 100%;
}

.imagenComponentNews{
  width: 100%;
  height: 100%;
}

.entry-cover {
  overflow-y: hidden;
  max-height: 230px;
}